In [18]:
#importing required modules for data cleaning and processing
import pandas as pd
import numpy as np

In [19]:
#read csv data
app_store_data = pd.read_csv("./googleplaystore.csv", index_col=None)

#setting seed for reproducibility
np.random.seed(0)

In [20]:
#reading the first 5 rows of dataset
app_store_data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [21]:
#creating dataframe and assigning columns
df = pd.DataFrame(app_store_data)

#dropping duplicate app values
df = df.drop_duplicates(subset='App', keep='first')

#setting the index
df['app_id'] = range(1, len(df) + 1)
df = df.set_index('app_id')

df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
app_id,,,,,,,,,,,,,
9656,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
9657,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
9658,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
9659,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
9660,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [22]:
#counting rows and columns
count_row = df.shape[0]
count_col = df.shape[1]
print(count_row, count_col)
df.dtypes

9660 13

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [23]:
#converting all the app_sizes to MB
df['Size'] = df['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: str(x).replace(',', '') if 'M' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1000 if 'k' in str(x) else x)
df['Size'] = df['Size'].str.replace("1,000+", "0").replace("0+","0")

df['Size'] = df['Size'].astype('float')
df['Size'].dtypes

/var/folders/94/kszsj3vd2fsf1g03myxn4y8w0000gn/T/ipykernel_10535/2872277015.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Size'] = df['Size'].str.replace("1,000+", "0").replace("0+","0")

dtype('float64')

In [24]:
#converting number of installs from object dtype to int. Removing + sign from the installs.
df['Installs'] = df['Installs'].astype('string')
df['Installs'] = df['Installs'].str.replace("+", "").str.replace("Free","0").str.replace(",","")

df['Installs'] = df['Installs'].astype('int')
df['Installs'].dtypes

/var/folders/94/kszsj3vd2fsf1g03myxn4y8w0000gn/T/ipykernel_10535/228249485.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Installs'] = df['Installs'].str.replace("+", "").str.replace("Free","0").str.replace(",","")

dtype('int64')

In [25]:
#converting price data type to numeric
df['Price'] = df['Price'].astype('string')
df['Price'] = df['Price'].str.replace("$","").str.replace("Everyone","0.00")

df['Price'] = pd.to_numeric(df['Price'])
df['Price'].dtypes

/var/folders/94/kszsj3vd2fsf1g03myxn4y8w0000gn/T/ipykernel_10535/3838837283.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace("$","").str.replace("Everyone","0.00")

dtype('float64')

In [26]:
#converting price data type to numeric
df['Reviews'] = df['Reviews'].astype('string')
df['Reviews'] = df['Reviews'].str.replace("3.0","3").replace("3M", "3")

df['Reviews'] = df['Reviews'].astype('int')
df['Reviews'].dtypes

/var/folders/94/kszsj3vd2fsf1g03myxn4y8w0000gn/T/ipykernel_10535/543367517.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reviews'] = df['Reviews'].str.replace("3.0","3").replace("3M", "3")

dtype('int64')

In [27]:
#converting last updated from object to datetime data type
df['Last Updated'] = df['Last Updated'].astype('string')
df['Last Updated'] = df['Last Updated'].str.replace("1.0.19","")

df['Last Updated'] = pd.to_datetime(df['Last Updated'], dayfirst=True)
df['Last Updated'].dtypes

/var/folders/94/kszsj3vd2fsf1g03myxn4y8w0000gn/T/ipykernel_10535/1897190566.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Last Updated'] = df['Last Updated'].str.replace("1.0.19","")

dtype('<M8[ns]')

In [73]:
#modifying 1.9.0 to 1.9
df['Rating'] = df['Rating'].astype('string')
df['Rating'] = df['Rating'].str.replace("19","1.9")
df['Rating'] = pd.to_numeric(df['Rating'])
df['Rating'].dtypes

dtype('float64')

In [74]:
#creating a new dataframe for applications table
column_names = ['app_name','app_type', 'genre','app_size', 'category', 'rating']
applications = df[['App','Type', 'Genres', 'Size', 'Category', 'Rating']]
df_applications = pd.DataFrame(applications)
df_applications.columns = column_names

df_applications.head()

,app_name,app_type,genre,app_size,category,rating
app_id,,,,,,
1,Photo Editor & Candy Camera & Grid & ScrapBook,Free,Art & Design,19.0,ART_AND_DESIGN,4.1
2,Coloring book moana,Free,Art & Design;Pretend Play,14.0,ART_AND_DESIGN,3.9
3,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Free,Art & Design,8.7,ART_AND_DESIGN,4.7
4,Sketch - Draw & Paint,Free,Art & Design,25.0,ART_AND_DESIGN,4.5
5,Pixel Draw - Number Art Coloring Book,Free,Art & Design;Creativity,2.8,ART_AND_DESIGN,4.3

In [75]:
#creating a new dataframe for price table
price = df[['Type', 'Price']]
column_names = ['type','price']
df_price = pd.DataFrame(price)
df_price.columns = column_names

df_price.tail()

        type  price
app_id
9656    Free    0.0
9657    Free    0.0
9658    Free    0.0
9659    Free    0.0
9660    Free    0.0

In [76]:
#creating a new dataframe for ratings table
ratings = df[['Rating', 'Reviews', 'Content Rating', 'Price']]
column_names = ['rating','reviews','content-rating', 'price']

df_ratings = pd.DataFrame(ratings)
df_ratings.columns = column_names
df_ratings.tail()

        rating  reviews content-rating  price
app_id
9656       4.5       38       Everyone    0.0
9657       5.0        4       Everyone    0.0
9658       NaN        3       Everyone    0.0
9659       4.5      114     Mature 17+    0.0
9660       4.5   398307       Everyone    0.0

In [77]:
#creating a new dataframe for requirements table
requirements = df[['Size', 'Android Ver']]
column_names = ['app_size', 'android_version']
df_requirements = pd.DataFrame(requirements)
df_requirements.columns = column_names

df_requirements.tail()

        app_size     android_version
app_id
9656        53.0          4.1 and up
9657         3.6          4.1 and up
9658         9.5          2.2 and up
9659         NaN  Varies with device
9660        19.0  Varies with device

In [78]:
#creating a new dataframe for updates table
updates = df[['Installs', 'Last Updated', 'Current Ver']]
column_names = ['installs', 'last_updated', 'current_version']
df_updates = pd.DataFrame(updates)
df_updates.columns = column_names

df_updates.tail()

        installs last_updated     current_version
app_id
9656        5000   2017-07-25                1.48
9657         100   2018-07-06                 1.0
9658        1000   2017-01-20                 1.0
9659        1000   2015-01-19  Varies with device
9660    10000000   2018-07-25  Varies with device

In [79]:
#python database connectivity
import psycopg2

#establishing the connection
conn = psycopg2.connect(
   database="shreyachoure", user='shreyachoure', password='root', host='127.0.0.1', port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Executing an MYSQL function using the execute() method
cursor.execute("select version()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)

#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 14.5 on aarch64-apple-darwin20.6.0, compiled by Apple clang version 12.0.5 (clang-1205.0.22.9), 64-bit',)

In [80]:
#Inserting data from python to psql table 'Applications'
from sqlalchemy import create_engine

#creating engine
engine = create_engine('postgresql://shreyachoure@127.0.0.1:5432/shreyachoure')

from sqlalchemy.orm import Session
with Session(engine) as session:
    engine.execute("DROP table IF EXISTS applications")
    engine.execute("DROP table IF EXISTS price")
    engine.execute("DROP table IF EXISTS ratings")
    engine.execute("DROP table IF EXISTS requirements")
    engine.execute("DROP table IF EXISTS updates")

    df_applications.to_sql('applications', con=engine)
    df_price.to_sql('price', con=engine)
    df_ratings.to_sql('ratings', con=engine)
    df_requirements.to_sql('requirements', con=engine)
    df_updates.to_sql('updates', con=engine)
    session.commit()

In [81]:
df.dtypes

App                       object
Category                  object
Rating                   float64
Reviews                    int64
Size                     float64
Installs                   int64
Type                      object
Price                    float64
Content Rating            object
Genres                    object
Last Updated      datetime64[ns]
Current Ver               object
Android Ver               object
dtype: object